<div class="container"  >
<h1 >Items</h1>
<table class="table">

  <thead class="thead-dark">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Value</th>
          <th>Update</th>
          <th>Delete</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let tempItem of items">
          <td class="align-middle">{{ tempItem.id}}</td>
          <td class="align-middle">
            <input type="text" [(ngModel)]="tempItem.nome">
          <td class="align-middle">{{ tempItem.valor}}</td>
          <td class="align-middle"><button  class="btn btn-default" (click)="updateItem(tempItem)">Update</button></td>

          <td class="align-middle"><button  class="btn btn-default" (click)="deleteItem(tempItem)">Delete</button></td>

      </tr>
  </tbody>

</table>

<h2>Insert New Item</h2>
  <table class="table" style="border-top: 1px solid black;" >
    <tr>
      <td width="50px">Id:</td>
      <td><input type="text" [(ngModel)]="novoItem.id"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" [(ngModel)]="novoItem.nome"></td>
    </tr>
    <tr>
      <td>Value:</td>
      <td><input type="text" [(ngModel)]="novoItem.valor"></td>
    </tr>
    <tr>
      <td colspan="2"><button  class="btn btn-default" (click)="insertNewItem()">Insert</button></td>
    </tr>
  </table>
</div>
